{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Мои новости
            </div>
            <div class="card-body pb-0">
                {% if my_news %}
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Published</th>
                                <th>Name</th>
                                <th>Content</th>
                                <th>Public</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for news in my_news %}
                            <tr>
                                <td>{{ news.id }}</td>
                                <td>{{ news.added_date | date:'m.d.Y H:i:s' }}</td>
                                <td>{{ news.name }}</td>
                                <td>{{ news.content | safe | truncatechars:100 }}</td>
                                <td>
                                    {% if news.is_public %}
                                        <img src="{% static 'images/ok.png' %}" width="20px">
                                    {% else %}
                                        <img src="{% static 'images/no.png' %}" width="20px">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="pb-3 text-center"><i>Новостей пока что нет</i></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row mt-3 mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Публичные новости других пользователей
            </div>
            <div class="card-body pb-0">
                {% if public_news %}
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User</th>
                                <th>Published</th>
                                <th>Name</th>
                                <th>Content</th>
                                <th>Public</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for news in public_news %}
                            <tr>
                                <td>{{ news.id }}</td>
                                <td>{{ news.author }}</td>
                                <td>{{ news.added_date | date:'m.d.Y H:i:s' }}</td>
                                <td>{{ news.name | safe }}</td>
                                <td>{{ news.content | safe | truncatechars:100 }}</td>
                                <td>
                                    {% if news.is_public %}
                                        <img src="{% static 'images/ok.png' %}" width="20px">
                                    {% else %}
                                        <img src="{% static 'images/no.png' %}" width="20px">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="pb-3 text-center"><i>Новостей пока что нет</i></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}